.Cadastro {
  background-image: url('../assets/background.svg');
  background-size: cover;

  width: 100%;
}

.Cadastro #logo {
  width: 200px;
  height: 60px;
  margin-top: 30px;
  margin-left: 100px;
}

.Cadastro #container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.Home-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Cadastro formulario{
  padding: 20px;
}

/* @media (max-width: 900px) {
  #container {
    flex-wrap: wrap;
  }
} */
